/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */



* { box-sizing: border-box;}   This wildcard applies to all elements ensuring a box layout model

body {
    font-size: 16px;
    font-family: source sans-pro;/* Declare the base font-family */
    background-color: #B3B3B3;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 90%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: .5rem auto;

    background-color: #B3B3B3;
    color: black;
    border-bottom: 1px solid #B3B3B3;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
header h1 {
    margin-left: 5%;
    text-align: left;
}
header img {


}
header .subheading {
    margin-left: 2%;
    text-align: left;
}

nav button {
    margin: .02rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    background-color: #ccc;
    font-family: sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul li a {
    flex: 2em;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li.active a { background-color: rgba(0,0,0,0.2); color: #fff;}
nav ul li a:hover { background-color: rgba(0,0,0,0.4);}
nav ul.hide {display: none;}

nav img{
    width: 100%;
}

main {}
main h2 {text-align: center;}
main figure.franklinphoto { margin: 0 0 .2rem 2%; width:96%; }
main figure.franklinphoto img {
    width: 95%;
}
/*------------FORM ---------------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;

}

form legend{
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;

}


form label.top, form label.rating, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;

}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);

}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;

}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;

}

.forecast{
    display: none;
}
section {text-align: center;}
section div.container {display: flex;}
section.forcast {display:none; }

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 20px;
}
.grid img {
    max-width: 100%;
    padding: 5px;
}

article {}
article img {

    width: 35%

}


footer {}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
