/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}
/*This wildcard applies to all elements ensuring a box layout model*/


body {
    font-size: 16px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color:#85b7df;
}

header {
    background: #85b7df;
    padding-top: 1%;
}

#headerText {
    font-size: 2em;
    color: lightgray;
}

#subHeaderText {
    font-size: 0.9em;
    margin-top: -30px;
    color: lightgray;
}

main {
    font-size: 1.5em;
    font-weight: 610;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.myList {
    display: inline-block;
    padding: 50px;
}

article {
    display: inline-block;
    border: 2px solid gray;
    padding: 5px;
    font-size: 17px;
    font-weight: 500;
    background-color: lightgrey;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
}

table.homeTable {
    background-color: lightgray;
    width: auto;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}

table.homeTable img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: auto;
}

/*-------------------SERVICES PRICE LIST---------------------*/
/*
#myList {
    display: inline-block;
    margin: 15px 18px;
    border: 2px solid #0066cc;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #d1e5f9;
    text-align: left;
    border-radius:30px 30px 30px 30px;
}
*/

/*------------NAVIGATION BAR W3---------------------*/

/* Add background color navbar */
.topnav {
    width: auto;
    margin: auto;
    background-color: darkgrey;
    display: flex;
    position: sticky;
    top: 0;
}

/* Color the active tab */
.topnav a.active { background: limegreen; }

/* Style the links inside navbar */
.topnav a {
    color: black;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 17px;
}

/* link hover color */
.topnav a:hover {
    background-color: dimgray;
    color: white;
}

/*Hide the hamburger on medium and large screens */
.topnav .icon { display: none; }

/* When screen is < 600px wide, hide all links except for the first one ("Home"). Show the hamburger link (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .topnav a.icon { display: flex; }

    .topnav a.icon:hover {
        background-color: dimgrey;
        color: white;
    }

    .box {
        transition: box-shadow .3s;
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        background: #fff;
    }
}

/* Display links vertically instead of horizontally when less-than 600px wide*/
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        flex-direction: column;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        display: flex;
        justify-content: flex-start;
    }
}

.articleimage img {
    max-width:40%;
    max-height:40%;
    margin-left:15px;
    float: right;
    padding-bottom: 10px;
    overflow: auto;
}

article.news {
    margin: 40px 40px;
    padding-bottom: 10px;
    overflow: auto;
}

#topimage img {

    max-width:75%;
    max-height:75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    overflow: auto;
}

/*-------------------FORM--------------------*/

form legend {
    color: darkslateblue;
    text-shadow: 3px 2px darkgray;
    font-size: 25px;
    font-weight: 600;
}

form fieldset {
    display:block;
    border: 4px solid darkgray;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: lightgrey;
    margin: 2rem 0;
    text-align: left;
    border-radius:5px 5px 5px 5px;
    color: slateblue;
}

input:focus { box-shadow: 1px 1px 4px rgba(0, 0, 0,.5); }

form label.top input,form label.top, form label.top,  form label.about, select {
    -webkit-appearance: none;
    display: flex;
    font-size: 1rem;
    border: solid 3px gray;
    border-radius: 10px;
    padding: .80rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);

}

form input.submitBtn {
    border: none;
    background-color: darkslateblue;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem;
    width: 96%;
    max-width: 20rem;
}

form textarea {
    width: 375px;
    height: 150px;
}

form label.top input:required { border-left: red solid 6px; }

form label.top input:required:valid { border-left: green solid 6px; }

/*------------ANIMATED ACCORDION W3 ---------------------*/
.accordion {
    background-color: lightgray;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color:darkgray;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*-----------FOOTER---------------*/
footer {
    background: darkgray;
    text-align: center;
    padding-top: 10px;
    border: 4px solid lightgray;
    padding: 10px;
    margin: 2rem 0;
    border-radius:5px 5px 5px 5px;
}

footer>p {
    background: darkgrey;
    text-align: center;
    color: #ffffff;
    font-size: 13px;

}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
