@media only screen and (min-width: 64em ) {



    nav ul li a {padding: .6rem 1rem;}
/*
    table
    {
        width: 40em;
        border-collapse: collapse;
    }

    th,td
    {
        padding: .5em;
        border: 1px solid #777;
        text-align: left;
        vertical-align: top;
    }

    th { background-color: #eee; }
*/
/*
    header, nav, main, footer {
        margin: 1.25rem auto;
        padding: .5rem;
        max-width: 1600px;
    }

    main figure img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    form label.sbs {
        padding: .4rem 0;
    }
*/


/*
    section{
        justify-content: ;
    }
*/

    .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    .grid img {
        max-width: 100%;
        padding: 5px
    }


    .box {
        transition: box-shadow .3s;
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ccc;
        background: #fff;
    }
    .box:hover {
        box-shadow: 0 0 20px rgba(0,0,0,.5);
    }
}

